.row {
  max-width: 100%;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 5px;
  margin-right: 5px;
}
.no-padding {
  margin: 0 !important;
  padding-left: 2px;
  padding-right: 2px;
}
.vert {
  background-color: green;
  height: 2px;
}
.rouge {
  background-color: rgb(255, 0, 0);
  height: 2px;
}
.jaune {
  background-color: rgb(255, 230, 0);
  height: 2px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.menu-dropdown {
  width: calc(100% / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  padding: 0px;
}
.btn-secondary {
  background-color: #233781;
}
@media only screen and (max-width: 762px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .menu-dropdown {
    width: calc(100% / 3.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 16px;
  }
}
@media only screen and (max-width: 576px) {
  .menu {
    display: none;
  }
}

::ng-deep  button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  padding: 2px;
}
