<div class="row">
  <div class="col-md-4 col-sm-4 col-4 no-padding">
    <hr class="vert">
  </div>
  <div class="col-md-4 col-sm-4 col-4 no-padding">
    <hr class="rouge">
  </div>
  <div class="col-md-4 col-sm-4 col-4 no-padding">
    <hr class="jaune">
  </div>
</div>

<div class="menu">
  <div class="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-block" [matMenuTriggerFor]="actualite">
      Actualités
    </button>
    <mat-menu #actualite="matMenu">
      <button [routerLink]="['/actualités/point-presse']" routerLinkActive="router-link-active" mat-menu-item >Point
        presse</button>
      <button mat-menu-item [routerLink]="['/actualités/situation-cameroun']" routerLinkActive="router-link-active" >Situation du cameroun</button>
      <button mat-menu-item [routerLink]="['/actualités/situation-monde']" routerLinkActive="router-link-active"  >Situation dans le monde</button>
    </mat-menu>
  </div>
  <div class="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-block" [matMenuTriggerFor]="maladie">
      La maladie du COVID-19
    </button>
    <mat-menu #maladie="matMenu">
      <button mat-menu-item routerLink="maladie-covid">Origine</button>
      <button mat-menu-item>Symptômes</button>
      <button mat-menu-item>Prévention</button>
      <button mat-menu-item>Traitement</button>
    </mat-menu>
  </div>
  <div class="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-block" [matMenuTriggerFor]="gouvernement">
      Que fait le gouvernement
    </button>
    <mat-menu #gouvernement="matMenu">
      <button mat-menu-item routerLink="gouvernement/gouvernement-strategie">La stratégie</button>
      <button mat-menu-item routerLink="gouvernement/gouvernement-particuliers">Pour les Particuliers</button>
      <button mat-menu-item routerLink="gouvernement/gouvernement-entreprises">Pour les Entreprises</button>
      <button mat-menu-item routerLink="gouvernement/gouvernement-camerounais-etranger">Pour les Camerounais à l'étranger</button>
      <button mat-menu-item routerLink="gouvernement/gouvernement-terrain">Sur le terrain</button>
    </mat-menu>
  </div>
  <div class="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-block" [matMenuTriggerFor]="recommendations">
      Recommendations
    </button>
    <mat-menu #recommendations="matMenu">
      <button mat-menu-item routerLink="recommendations/recommendations-professionnels">Pour les Professionnels</button>
      <button mat-menu-item routerLink="recommendations/recommendations-voyageurs">Pour les Voyageurs</button>
      <button mat-menu-item routerLink="recommendations/recommendations-entreprises">Pour les Entreprises</button>
      <button mat-menu-item routerLink="recommendations/recommendations-camerounais-etranger">Pour les Camerounais à l'étranger</button>
      <button mat-menu-item routerLink="recommendations/recommendations-cultes">Pour les Cultes</button>
    </mat-menu>
  </div>
  <div class="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-block" [matMenuTriggerFor]="ressources">
      Ressources
    </button>
    <mat-menu #ressources="matMenu">
      <button mat-menu-item [routerLink]="['/bibliotheque']" routerLinkActive="router-link-active">Bibliothèque</button>
      <button mat-menu-item [routerLink]="['/base-de-donnees-ressources']" routerLinkActive="router-link-active"  >Base de données</button>
    </mat-menu>
  </div>
</div>
