<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="text-formated"><a href="javascript:void(0)">Contactez-nous</a> | <a href="javascript:void(0)">Plan du site</a> | <a href="javascript:void(0)">Mention legale</a></p>
        <p class="text-formated"> Copyright 2020 | Gouvernement République du cameroun - Tous droits réservés </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
