<div class="container-fluid" style="margin-top: 60px;">
    <div class="alert alert-dark mt-2" role="alert">
        Ressources > base de données
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 box">
                <h2>Face à l’épidémie
                    de <i>Covid-19</i> <br>
                    ils sont disponible</h2>
            </div>
            <div class="col-md-9 mb-3 font-image">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-6 box-2" routerLink="/dons-projet">
                        <h4>Medecins</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Pharmaciens</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Orphelinats</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Medecins</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Pharmaciens</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Enseignants</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 col-6 box-2">
                        <h4>Chercheurs</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>