<div class="container-fluid" style="margin-top: 60px;">
    <div class="alert alert-dark mt-2" role="alert">
        Ressources > base de données
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 box">
                <h2>Face à l’épidémie
                    de <i>Covid-19</i> <br>
                    ils sont disponible</h2>
            </div>
            <div class="col-md-9 mb-3 font-image">
                <div class="row" *ngIf="viewMode=='expertise'">
                    <div class="col-md-3 col-sm-3 col-6 box-2" *ngFor="let expertise of expertiseData"
                        (click)="setViewMode('profil')">
                        <h4>{{expertise.libelle_expertise}}</h4>
                    </div>
                </div>
                <div class="container" *ngIf="viewMode=='profil'">
                    <div class="btn btn-success" (click)="setViewMode('expertise')">Retour</div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Cedric Djiele</h1>
                                <p>Medecin</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Charles wona</h1>
                                <p>Medecin</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Lorent bob</h1>
                                <p>Medecin</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Alex tchatchoa</h1>
                                <p>Medecin</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Stephane Djiele</h1>
                                <p>Medecin</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="text-align: center;">
                                <img src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png" srcset="">
                                <h1 style="font-size: 20px; margin-top: 5px;">Alexendre</h1>
                                <p>Medecin</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>