<div class="container-fluid">
  <div class="alert alert-dark mt-2" role="alert">
    Accueil > Dons > projet x
  </div>
  <div class="row mt-2">
    <div class="col-md-5">
      <iframe class="frame" src="https://www.youtube.com/embed/Yb3bm-bjvGY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          Cet ingénieur camerounais de 41 ans a lancé son
          entreprise en 2003 avec un capital initial de 30
          000 euros et a réalisé un chiffre d’affaires de 60
          000 euros au cours de cette année inaugurale. Ce
          n’était qu’un début. En trois années d’activité, la petite
          affaire spécialisée dans les énergies renouvelables est
          passée à 10 millions d’euros de chiffre d’affaires et a
          embauché 12 personnes. En 2010, il employait
          140 salariés, pour 60 millions d’euros de chiffre
          d’affaires annuel.
        </p>
    </div>
    <div class="col-md-7 ">
      <div class="row mt-3 mag">
        <div class="col-md-3 col-3"><p class="text-form"><span>1</span> Montant</p></div>
        <div class="col-md-3 col-3"><p class="text-form"><span>2</span> Details</p></div>
        <div class="col-md-3 col-3"><p class="text-form"><span>3</span> Paiement</p></div>
        <div class="col-md-3 col-3"><p class="text-form"><span>4</span> Fin</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4 mt-3">
          <button type="button" style="background-color:#203780;color: white;" class="btn btn-lg btn-block">10 000 FCFA</button>
        </div>
        <div class="col-md-4 mt-3">
          <button type="button" style="background-color:#203780;color: white;" class="btn btn-lg btn-block">20 000 FCFA</button>
        </div>
        <div class="col-md-4 mt-3">
          <button type="button" style="background-color:#203780;color: white;" class="btn btn-lg btn-block">50 000 FCFA</button>
        </div>
        <div class="col-md-4 mt-3">
          <button type="button" style="background-color:#203780;color: white;" class="btn btn-lg btn-block">100 000 FCFA</button>
        </div>
        <div class="col-md-4 mt-3">
          <button type="button" style="background-color:#203780;color: white;" class="btn btn-lg btn-block">200 000 FCFA</button>
        </div>
        <div class="col-md-4 mt-3">
          <input type="number" style="height: 48px;"class="form-control"  aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mt-3 mb-3 justify-content-between">
        <div class="col-md-4 ml-4 mt-3 form-group">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Programmer un don mensuel</label>
        </div>
        <div class="col-md-4">
          <button type="submit" style="background-color: #203780;color:white" class="btn btn-lg btn-block">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
