.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer-container {
  background-color: white;
}

.header {
  background-size: cover;
}

.social-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.social-btn {
  width: calc(100% / 8);
  height: 32px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social-btn > .mat-icon {
  width: 25px;
  height: 25px;
}
.size-social-icon {
  font-size: 25px;
}
.body {
  min-height: 80vh;
}
.side {
  width: 300px;
  background-color: #203780;
}
.content{
  padding: 0 ;
}
.sidebar{
  display: none;
}

@media only screen and (max-width: 762px) {
  .social-btn > .mat-icon {
    width: 40px;
    height: 40px;
  }
  .size-social-icon {
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .social-btn > .mat-icon {
    width: 30px;
    height: 30px;
  }
  .size-social-icon {
    font-size: 30px;
  }
  .side {
    width: 100%;
    background-color: #203780;
  }
  .sidebar{
    display: block;
  }
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #233781;
  color: white;
  margin-top: 5px;
  width: 250px;
}

::ng-deep button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  color: white;
  outline: none;
}
