
<mat-sidenav-container class="example-container" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="social-bar">
        <div class="social-btn" (click)="sidenav.open()">
          <mat-icon aria-hidden="false" class="size-social-icon" aria-label="Example home icon">apps</mat-icon>
        </div>
        <div class="social-btn">
          <mat-icon aria-hidden="false" class="size-social-icon" aria-label="Example home icon">home</mat-icon>
        </div>
        <div class="social-btn">
          <mat-icon aria-hidden="false" class="size-social-icon" aria-label="Example home icon">search</mat-icon>
        </div>
        <div class="social-btn">
          <fa name="whatsapp" class="size-social-icon"></fa>
        </div>
        <div class="social-btn">
          <fa name="facebook-f" class="size-social-icon"></fa>
        </div>
        <div class="social-btn">
          <fa name="youtube" class="size-social-icon"></fa>
        </div>
        <div class="social-btn">
          <fa name="twitter" class="size-social-icon"></fa>
        </div>
        <div class="social-btn">
          <fa name="linkedin" class="size-social-icon"></fa>
        </div>
        <div class="social-btn">
          <fa name="instagram" class="size-social-icon"></fa>
        </div>
      </div>
      <div class="header">
        <app-header></app-header>
      </div>
      <div class="body">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
