<div class="content">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Application mobile</li>
    <br>
    <li class="list-group-item">Personne agé</li>
    <br>
    <li class="list-group-item">Scolarité</li>
    <br>
    <li class="list-group-item">les aides</li>
    <br>
    <li class="list-group-item">Mon compte</li>
  </ul>
</div>
<br>
<div class="sidebar">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Actualités
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Point Presse</li>
        <li class="list-group-item">Situation au Cameroun</li>
        <li class="list-group-item">Situation dans le monde</li>
      </ul>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Maladie du COVID-19
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Orisine</li>
        <li class="list-group-item">Symptomes</li>
        <li class="list-group-item">Prevention</li>
        <li class="list-group-item">Traitement</li>
      </ul>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Que fait le gouvernement
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">La stratégie</li>
        <li class="list-group-item">Pour les particuliers</li>
        <li class="list-group-item">Pour les entreprises</li>
        <li class="list-group-item">Pour les camerounais à l'etrangé</li>
        <li class="list-group-item">Sur le terrain</li>
      </ul>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recommandations
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pour les professionnels</li>
        <li class="list-group-item">Pour les voyageurs</li>
        <li class="list-group-item">Pour les entreprises</li>
        <li class="list-group-item">Pour les camerounais à l'etrangé</li>
        <li class="list-group-item">Pour les cultes</li>
      </ul>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ressources
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bibliothèque</li>
        <li class="list-group-item">Base de donner</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

</div>
