<div class="container-fluid mb-1" style="margin-top: 70px;">
  <div class="alert alert-dark mt-2" role="alert">
    Ressources > Bibliotheque
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="block">
        <div class="categorie categorie-active">Documents</div>
        <div class="categorie">Articles</div>
        <div class="categorie">Testes</div>
        <div class="categorie">Images</div>
        <div class="categorie">Audios</div>
        <div class="categorie">Videos</div>
        <div class="categorie">Livres</div>
        <div class="categorie">Documents</div>
      </div>
    </div>
    <div class="col-md-10">
      <h4>Plans de continuité d'activités</h4>
      <div class="article">
        <div class="row">
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
        </div>
        <div class="scroll-vertical left">
          <fa name="angle-left" size="2x" class="size-social-icon"></fa>
        </div>
        <div class="scroll-vertical right">
          <fa name="angle-right" size="2x" class="size-social-icon"></fa>
        </div>
      </div>
      <h4>Plans de continuité d'activités</h4>
      <div class="article">
        <div class="row">
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
        </div>
        <div class="scroll-vertical left">
          <fa name="angle-left" size="2x" class="size-social-icon"></fa>
        </div>
        <div class="scroll-vertical right">
          <fa name="angle-right" size="2x" class="size-social-icon"></fa>
        </div>
      </div>
    </div>
  </div>
</div>
