<div class="container-fluid mb-1" style="margin-top: 70px;">
  <div class="alert alert-dark mt-2" role="alert">
    Ressources > Bibliotheque
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="block">
        <div id="categorie" [className]="type == 'documents'?'categorie-active':null" (click)='checkType("documents")'>Documents</div>
        <div id="categorie" [className]="type == 'articles'?'categorie-active':null" (click)='checkType("articles")'>Articles</div>
        <div id="categorie" [className]="type == 'textes'?'categorie-active':null" (click)='checkType("textes")'>Textes</div>
        <div id="categorie" [className]="type == 'images'?'categorie-active':null" (click)='checkType("images")'>Images</div>
        <div id="categorie" [className]="type == 'audios'?'categorie-active':null" (click)='checkType("audios")'>Audios</div>
        <div id="categorie" [className]="type == 'videos'?'categorie-active':null" (click)='checkType("videos")'>Videos</div>
        <div id="categorie" [className]="type == 'livres'?'categorie-active':null" (click)='checkType("livres")'>Livres</div>
      </div>
    </div>
    <div class="col-md-10">
      <h4>Plans de continuité d'activités</h4>
      <div class="article">
        <div class="row">
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
        </div>
        <div class="scroll-vertical left">
          <fa name="angle-left" size="2x" class="size-social-icon"></fa>
        </div>
        <div class="scroll-vertical right">
          <fa name="angle-right" size="2x" class="size-social-icon"></fa>
        </div>
      </div>
      <h4>Plans de continuité d'activités</h4>
      <div class="article">
        <div class="row">
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
          <div class="col-md-2 justify">
            <img width="119" height="159" src="../../assets/images/doc.PNG" alt="" srcset="">
            <p>Santé pour les plantes</p>
          </div>
        </div>
        <div class="scroll-vertical left">
          <fa name="angle-left" size="2x" class="size-social-icon"></fa>
        </div>
        <div class="scroll-vertical right">
          <fa name="angle-right" size="2x" class="size-social-icon"></fa>
        </div>
      </div>
    </div>
  </div>
</div>
