<div class="alert alert-dark mt-2" role="alert">
  Actualités > Situation du cameroun
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2" style="padding: 5px;">
      <div class="card">
        <div class="card-header">
          Situation du cameroun
        </div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-slider class="col-md-8 offset-md-2" thumbLabel tickInterval="1" min="1" max="100000"></mat-slider>
  </div>
</div>


